<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>
<div th:include="header"></div>
<div class="container">
    <span th:text="${msg}"></span>
    <form action="/updatePassword" method="post">
        <div class="form-group">
            <label for="oldPassword">Old password</label>
            <input name="oldPassword" id="oldPassword" type="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="newPassword">New password</label>
            <input name="newPassword" id="newPassword" type="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="confirmNewPassword">Confirm new password</label>
            <input type="password" id="confirmNewPassword" class="form-control">
            <span id='msg'></span>
        </div>
        <button id="submitBtn" type="submit" class="btn btn-primary">Update password</button>
    </form>
</div>
<script>
    $(document).ready(function(){
            $('#newPassword, #confirmNewPassword').keyup(function(){
                if ($('#newPassword').val() != $('#confirmNewPassword').val()) {
                    $('#submitBtn').prop('disabled', true);
                    $("#msg").html("Passwords do not match").css("color","red");
                }else if($('#password').val() == $('#confirmPassword').val()){
                    $('#submitBtn').prop('disabled', false);
                    $("#msg").html("");
                }
            });
     });

</script>
</body>
</html>