<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="#">E-commerce</a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/products">Furniture</a>
                    <a class="dropdown-item" href="#">...</a>
                </div>
            </li>
        </ul>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
        </ul>
    </div>

    <div sec:authorize="isAuthenticated()">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" sec:authentication="name"></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/myAccount">My Account</a>
                    <a class="dropdown-item" href="/myOrders">My Orders</a>
                    <a class="dropdown-item" href="logout">Logout</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link count" href="#">Cart</a>
            </li>
        </ul>
    </div>
</nav>

<!--<script>$(".count").text('Cart ' + localStorage.count);</script>-->
