<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div th:include="header"></div>
<div class="container ">
    <h1>Create account</h1>
    <form action="/registerAccount" method="post">
        <div class="form-group">
            <label for="email">Email address</label>
            <input name="email" id="email" type="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <select name="title" id="title" class="form-control">
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Miss">Miss</option>
                <option value="Ms">Ms</option>
                <option value="Dr">Dr</option>
            </select>
        </div>
        <div class="form-group">
            <label for="firstName">First name</label>
            <input name="firstName" id="firstName" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input name="lastName" id="lastName" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="dob">Date of birth</label>
            <input name="dob" id="dob" type="date" class="form-control">
        </div>
        <div class="form-group">
            <label for="mobileNumber">Mobile number</label>
            <input name="mobileNumber" id="mobileNumber" type="tel" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" id="password" type="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" id="confirmPassword" class="form-control">
            <span id='msg'></span>
        </div>
        <input id="submitBtn" type="submit" class="btn btn-primary"/>
    </form>
</div>
<script>
        $(document).ready(function(){
            $('#password, #confirmPassword').keyup(function(){
                if ($('#password').val() != $('#confirmPassword').val()) {
                    $('#submitBtn').prop('disabled', true);
                    $("#msg").html("Passwords do not match").css("color","red");
                }else if($('#password').val() == $('#confirmPassword').val()){
                    $('#submitBtn').prop('disabled', false);
                    $("#msg").html("");
                }
            });
        });

</script>
</body>
</html>